@model IEnumerable<MerceariaDaGertrudes.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Produto</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ProdutoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ProdutoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
